<ion-view title="Macro cycling">
    <ion-content padding="true" class="has-header">
        <div>
            <p>If you train more than 3 times a week, it is suggested that you do a
                <strong>macro cycling.</strong>
            </p>
        </div>
        <form class="list" name="cyclingForm" ng-submit="validate(cyclingForm)" novalidate="">
          <ion-list ng-hide="data.notCycling">
              <ion-item class="item-divider">How many days do you train?</ion-item>
              <label class="item item-input" ng-class="{ 'has-error-lr' : !cyclingForm.trainDays.$modelValue && cyclingForm.$submitted, 'valid-lr' : cyclingForm.trainDays.$modelValue  && cyclingForm.$submitted}">
                  <input name="trainDays" type="number" ng-model="data.trainDays" min="1" max:"7" ng-required="true">
              </label>
          </ion-list>
          <ion-list ng-hide="data.notCycling">
              <ion-item class="item-divider">Calorie intake percentage difference between rest and train days:</ion-item>
              <label class="item item-input" ng-class="{ 'has-error-lr' : !cyclingForm.diffCalorie.$modelValue && cyclingForm.$submitted, 'valid-lr' : cyclingForm.diffCalorie.$modelValue  && cyclingForm.$submitted}">
                  <input name="diffCalorie" type="number" ng-model="data.diffCalorie" min="20" max:"40" ng-required="true">
              </label>
          </ion-list>
          <ion-list ng-hide="data.notCycling">
              <ion-item class="item-divider">Fat intake percentage difference between rest and train days:</ion-item>
              <label class="item item-input" ng-class="{ 'has-error-lr' : !cyclingForm.diffFat.$modelValue && cyclingForm.$submitted, 'valid-lr' : cyclingForm.diffFat.$modelValue  && cyclingForm.$submitted}">
                  <input name="diffFat" type="number" ng-model="data.diffFat" min="10" max:"50" ng-required="true">
              </label>
          </ion-list>
          <ion-list>
            <ion-checkbox name="cyclingCheckBox" ng-model="data.notCycling">I don't want this.</ion-checkbox>
          </ion-list>
          <button class="button button-dark button-block  button-full">
            Done
          </button>
        </form>
    </ion-content>
</ion-view>
