<ion-view title="Tracking">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Date:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Weight</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Neck Circumference:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Waist Circumference:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Hip Circumference:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">BF:</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="button-bar">
            <button class="button button-stable button-block ">Cancel</button>
            <button class="button button-dark button-block ">Save</button>
        </div>
    </ion-content>
</ion-view>