<ion-view title="{{'INFO_TITLE' | translate }}">
    <ion-content padding="true" class="has-header">
      <!-- put a profile card here-->
      <div ng-show="hasAPlan">

        <div ng-show="info.type === 'preset'">
          <div class="card" ng-show="info.cycling">
              <div class="item item-divider">
                {{'YOURDIET_TITLE' | translate}}
              </div>
              <div class="item item-text-wrap">
                  <strong>{{'TRAINDAYS' | translate}}({{info.trainDays}}):</strong><br>
                  <strong>{{'CALORIES' | translate}}</strong> {{info.caloriesTrainDays | number:0}}<br>
                  <strong>{{'PROTEIN' | translate}}</strong> {{info.proteinTrainDays | number:0}}<br>
                  <strong>{{'FAT' | translate}}</strong> {{info.fatTrainDays | number:0}}<br>
                  <strong>{{'CARB' | translate}}</strong> {{info.carbTrainDays | number:0}}<br>

                  <br>

                  <strong>{{'RESTDAYS' | translate}}</strong><br>
                  <strong>{{'CALORIES' | translate}}</strong> {{info.caloriesRestDays | number:0}}<br>
                  <strong>{{'PROTEIN' | translate}}</strong> {{info.proteinRestDays | number:0}}<br>
                  <strong>{{'FAT' | translate}}</strong> {{info.fatRestDays | number:0}}<br>
                  <strong>{{'CARB' | translate}}</strong> {{info.carbRestDays | number:0}}<br>
              </div>
          </div>
          <div class="card" ng-hide="info.cycling">
              <div class="item item-divider">
                  {{'YOURDIET_TITLE' | translate}}
              </div>
              <div class="item item-text-wrap">
                  <strong>{{'CALORIES' | translate}}</strong> {{info.calories | number:0}}<br>
                  <strong>{{'PROTEIN' | translate}}</strong> {{info.protein | number:0}}<br>
                  <strong>{{'FAT' | translate}}</strong> {{info.fat | number:0}}<br>
                  <strong>{{'CARB' | translate}}</strong> {{info.carb | number:0}}<br>
              </div>
          </div>
      </div>

      <div ng-show="info.type === 'healthy'">
        <div class="card">
          <div class="item item-divider">
            {{'INFOPROVIDED_TITLE' | translate}}
          </div>
            <div class="item item-text-wrap">
              <strong>{{'WEIGHT_TITLE' | translate}}</strong> {{info.weight|number:1}} kg<br>
              <strong>{{'HEIGHT_TITLE' | translate}}</strong> {{info.height}} cm<br>
              {{'MEASURES_TITLE' | translate}}<br>
              <strong>{{'WAIST_TITLE' | translate}}</strong>: {{info.waist}} cm<br>
              <strong>{{'NECK_TITLE' | translate}}</strong> {{info.neck}} cm<br>
              <p ng-hide="!isMan()"><strong>{{'HIPS_TITLE' | translate}}</strong> {{info.hips}} cm</p>
              <strong>{{'ACTIVITY' | translate}} </strong> {{info.activity}}<br>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
              {{'CALCULATED_TITLE' | translate}}
            </div>
            <div class="item item-text-wrap">
              <strong>{{'BF' | translate}}</strong> {{info.bf | number:1}}% <br>
              <strong>{{'LBM' | translate}}</strong> {{info.lbm | number:1}} kg<br>
              <strong>{{'BMR' | translate}} </strong>{{info.bmr | number:0}}<br>
              <strong>{{'TDEE' | translate}}</strong> {{info.tdee | number:0}}
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
              {{'YOURPLAN_TITLE' | translate}}
            </div>
            <div class="item item-text-wrap">
              <strong>{{'OBJECTIVE' | translate}}</strong> {{info.objective}} <br>
              <strong ng-hide="!info.isCutting">{{'TARGETCUTTING_TITLE' | translate}}</strong>
              <strong ng-hide="info.isCutting">{{'TARGETBULKING_TITLE' | translate}}</strong>{{info.target}} kg
              <br><strong>{{'FATINTAKE' | translate}}</strong> {{info.fatIntake}}<div ng-hide="!info.isCutting">{{'GRAMSPERLBM' | translate}}</div><div ng-hide="info.isCutting">% of daily calorie</div>
              <strong>{{'PROTEININTAKE' | translate}}</strong> {{info.proteinIntake}}g/kg of LBM
            </div>
        </div>
        <div class="card" ng-show="info.cycling">
            <div class="item item-divider">
              {{'YOURDIET_TITLE' | translate}}
            </div>
            <div class="item item-text-wrap">
                <strong>{{'TRAINDAYS' | translate}}({{info.trainDays}}):</strong><br>
                <strong>{{'CALORIES' | translate}}</strong> {{info.caloriesTrainDays | number:0}}<br>
                <strong>{{'PROTEIN' | translate}}</strong> {{info.proteinTrainDays | number:0}}<br>
                <strong>{{'FAT' | translate}}</strong> {{info.fatTrainDays | number:0}}<br>
                <strong>{{'CARB' | translate}}</strong> {{info.carbTrainDays | number:0}}<br>

                <br>

                <strong>{{'RESTDAYS' | translate}}</strong><br>
                <strong>{{'CALORIES' | translate}}</strong> {{info.caloriesRestDays | number:0}}<br>
                <strong>{{'PROTEIN' | translate}}</strong> {{info.proteinRestDays | number:0}}<br>
                <strong>{{'FAT' | translate}}</strong> {{info.fatRestDays | number:0}}<br>
                <strong>{{'CARB' | translate}}</strong> {{info.carbRestDays | number:0}}<br>
            </div>
        </div>
        <div class="card" ng-hide="info.cycling">
            <div class="item item-divider">
                {{'YOURDIET_TITLE' | translate}}
            </div>
            <div class="item item-text-wrap">
                <strong>{{'CALORIES' | translate}}</strong> {{info.calories | number:0}}<br>
                <strong>{{'PROTEIN' | translate}}</strong> {{info.protein | number:0}}<br>
                <strong>{{'FAT' | translate}}</strong> {{info.fat | number:0}}<br>
                <strong>{{'CARB' | translate}}</strong> {{info.carb | number:0}}<br>
            </div>
        </div>
      </div>
      <button class="button button-dark button-block  button-full" ng-click="beginConfig()">
        Edit Info
      </button>
    </div>
    
    <div class="centertext" ng-hide="hasAPlan">
        <i class="icon ion-android-alert"></i>
        <p>Your informations is not set!<br>Click in the button below to begin:</p>
        <button class="button button-dark button-block  button-full" ng-click="beginConfig()">
          Start
        </button>
        <p>Or<br>If you already have a calorie plan<br><b><a ng-click="modal.show()">click here</a></b></p>
    </div>

      <div class="centertext">
        <a ng-click="logout()">Logout</a>
      </div>
    </ion-content>
</ion-view>
