<ion-view title="Meals">
    <ion-nav-buttons side="right">
    <button class="button button-icon ion-calendar" ng-click="modal.show()"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
      <div class="card" ng-if="userMeals.length>0">
        <div class="item item-divider centertext">
          {{date | date}}
          <br><br>
          <b>
            Total<br>
            Calories: {{total.calories}}<br>
            Carb: {{total.carb}} <br>
            Protein: {{total.protein}}<br>
            Fat: {{total.fat}}<br>
          </b>
        </div>
      </div>
      <ion-list show-delete="shouldShowDelete">

          <ion-item ng-repeat="meal in userMeals" item="meal">
            <ion-delete-button class="ion-minus-circled"></ion-delete-button>
            <b>{{meal.quantityChosen}} <b ng-if="meal.type != 'unit'">{{meal.type}}</b> {{meal.name}}<b ng-if="meal.quantityChosen > 1">s</b></b><br>
            <p>{{meal.calories}} calories<br>
            {{meal.carb}}g of carb <br>
            {{meal.protein}}g of protein<br>
            {{meal.fat}}g of fat</p>

            <ion-option-button class="button-assertive icon ion-trash-a"
                       ng-click="remove(meal)">
            </ion-option-button>
          </ion-item>

      </ion-list>
        <div class="centertext" ng-if="userMeals.length == 0">
        <b>{{date | date}}</b><br><br>
        {{noMeals}}
      </div>
    </ion-content>
    <button class="button button-float" ng-click="addMeal()">
        <i class="icon ion-plus"></i>
    </button>
</ion-view>
