<ion-view title="Food input">
    <ion-content padding="true" class="has-header">
        <form class="list" novalidate="" ng-submit="send(data)">
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input name="name" ng-model="data.name" type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Quantity</span>
                <input name="quantity" ng-model="data.fat" type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Calories</span>
                <input name="calories" ng-model="data.calories" type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Protein</span>
                <input name="protein" ng-model="data.protein" type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Carb</span>
                <input name="carb" ng-model="data.carb" type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Fat</span>
                <input name="fat" ng-model="data.quantity" type="text" placeholder="">
            </label>
            <button class="button button-dark button-block  button-full">
              Done
            </button>
        </form>
    </ion-content>
</ion-view>
