<form name="signupForm" ng-submit="" novalidate="">
  <ion-list>
    <label class="item item-input" ng-class="{ 'has-error-lr' : signupForm.email.$invalid && signupForm.$submitted, 'valid-lr' : signupForm.email.$valid  && signupForm.$submitted}">
      <span class="input-label">Email</span>
      <input type="text" name="email" ng-model="_newUser.email" ng-required="true">
      </label>
      <label class="item item-input" "item item-input" ng-class="{ 'has-error-lr' : signupForm.password.$invalid && signupForm.$submitted, 'valid-lr' : signupForm.password.$valid  && signupForm.$submitted}">
        <span class="input-label">Password</span>
        <input name="password" type="password" ng-model="_newUser.password">
      </label>
  </ion-list>
  <div class="spacer" style="width: 300px; height: 43px;"></div>
  <a class="button button-dark button-block" ng-click="">Create</a>
</form>
