<ion-view title="Login">
  <ion-content padding="true" class="has-header">
    <form name="loginForm" ng-submit="goToInfo(loginForm,user)" novalidate="">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" name="email" ng-model="user.email" ng-required="true">
          </label>
          <label class="item item-input" "item item-input">
            <span class="input-label">Password</span>
            <input name="password" type="password" ng-model="user.password" ng-required="true">
          </label>
      </ion-list>

        <div ng-messages="loginForm.email.$error" style="color:red" role="alert" ng-show="loginForm.$submitted">
          <div ng-message="required" class="centertext">Please enter your email.</div>
          <div ng-message="email" class="centertext">Invalid email.</div>
        </div>

        <div ng-messages="loginForm.password.$error" style="color:red" role="alert" ng-show="loginForm.$submitted">
          <div ng-message="required" class="centertext">Please enter your password.</div>
        </div>

      <div class="spacer" style="height: 43px;"></div>
      <button class="button button-dark button-block">Log in</button>
    </form>

    <a class="button button-dark button-outline button-block" ng-click="modalSignup.show()">Or create an account</a>
    <div class="centertext"><a ng-click="modal.show()">forgot your password?</a></div>
    <div class="spacer" style="width: 300px; height: 70px;"></div>


    <!-- <div class="centertext">
      or enter with
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <a class="iconbutton icon ion-social-googleplus"></a>
        <div class="spacer" style="width: 5px;"></div>
        <a class="iconbutton icon ion-social-facebook-outline"></a>
        <div class="spacer" style="width: 5px;"></div>
        <a class="iconbutton icon ion-social-twitter-outline"></a>
      </div>
    </div> -->
  </ion-content>
</ion-view>
