label.item.has-error-lr {
  border-top: 2px solid red;
}

label.item.has-error {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-top: 2px solid green;
}

label.item.valid {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

div.centertext {
  text-align: center;
}

p.error {
  color: red;
}
